<h1>Pirate List</h1>
<ul>
	<li ng-repeat="pirate in pirates" class="fade" ng-class="{ even: $even, odd: $odd }">
		<a href="#!/pirates/{{ pirate._id }}">{{ pirate.name }}</a> ||| {{ pirate._id }}
		<span ng-click="deletePirate($index, pirate._id)">X</span>
	</li>
</ul>

<form ng-submit="addPirate(pirate)">

	<label class="label">
		<input ng-model="$ctrl.pirate.name" required ng-minlength="6" placeholder="Name" />
		<svg viewBox="0 0 20 20" class="icon">
			<path d="M0 0 L10 10 L0 20"></path>
		</svg>
		<svg class="line" viewbox="0, 0, 40, 2">
			<path d="M0 1 L40 1" />
		</svg>
	</label>

	<!-- <input type="text" ng-model="pirate.name" required placeholder="Name" /> -->
	<input type="text" ng-model="pirate.vessel" required placeholder="Vessel" />
	<input type="text" ng-model="pirate.weapon" required placeholder="Weapon" />
	<button type="submit">Add Pirate</button>
</form>