@import 'imports/mixins';
@import 'imports/variables';
@import 'imports/forms';
@import 'imports/mystyles'; 

label {
	display: flex;
	height: 2rem;
}

input {
	width: 100%;
	height: 1.6rem;
	font-size: 1rem;
	border: none;
	border-bottom: 1px solid hsl(0%, 0%, 85%);
	order: 1;
}

input:focus {
	outline: none;
	border-color: hsl(0%, 0%, 25%)
}

.icon {
	width: 1rem;
	// opacity: 0;
	transition: all 0.5s;
	// transform: translateX(-100%)
	stroke-dasharray: 0, 20;
	stroke-dashoffset: -14.642;
}

.icon path {
	stroke: black;
	fill: none;
	stroke-width: 1px;
}

input:focus + .icon {
	// opacity: 1;
	// transform: translateX(0)
	stroke-dasharray: 28.284, 20;
	stroke-dashoffset: 0;
}

.ng-valid.ng-not-empty {
	border-color: hsl(166, 72%, 40%)
}

.ng-invalid.ng-dirty {
	border-color: hsl(0, 100%, 40%)
}

.line {
	width: 100%;
	stroke: black;
}















